.experts__desktopHidden,
.experts__mobileVisible {
  display: none;
}

.experts {
  background-color: var(--sandal);
  margin-bottom: 150px;
}

.experts__row {
  display: flex;
  width: 100%;
  color: var(--white);
  max-width: none;
}

.experts__videoSide {
  position: relative;
  max-width: 798px;
  width: 45%;
  margin-right: 70px;
}

.experts__videoWrapper {
  position: relative;
}

.experts__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experts__duration {
  position: absolute;
  bottom: 70px;
  left: 80px;
}

.experts__durationText {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 14px;
}

.experts__durationTime {
  font-weight: 600;
  font-size: 32px;
}

.experts__play {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 80px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 48px;
  border-radius: 200px;

  transition: background-color 200ms ease;
}

.experts__play:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.experts__playIcon {
  width: 30px;
  height: 30px;
}

.experts__duration--hidden {
  display: none;
}

.experts__play--hidden {
  display: none;
}

.experts__contentSide {
  width: 55%;
  padding-top: 68px;
}

.experts__subtitle {
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 68px;
}

.experts__header {
  margin-bottom: 65px;
}

.experts__data {
  display: flex;
  width: 100%;
  margin-bottom: 103px;
}

.experts__slider {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.experts__dataLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
  border-right: 1px solid var(--white);
  padding-right: 30px;
}

.experts__dataRight {
  width: 57%;
}

.experts__quote {
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 52px;
  line-height: 1.2;
  text-decoration: none;

  display: none;
}

.experts__quote--active {
  display: block;
}

.experts__quote::after {
  content: '"';
}

.experts__quote::before {
  content: '"';
}

.experts__view {
  display: flex;
  align-items: center;
}

.experts__nextList .experts__view {
  display: none;
}

.experts__nextList .experts__view--active {
  display: flex;
}

.experts__desktopHidden .experts__view {
  display: none;
}

.experts__desktopHidden .experts__view--active {
  display: flex;
}

.experts__photo {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  margin-right: 25px;
}

.experts__photo--smaller {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.experts__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}

.experts__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.experts__more {
  display: grid;
  gap: 20px;
  display: none;
}

.experts__moreSubtitle {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
}

.experts__moreSocial {
  display: flex;
  justify-content: space-between;
}

.experts__moreLink {
  text-decoration: none;
  margin-right: 10px;
}

.experts__moreIcon {
  fill: var(--white);
  width: 32px;
  height: 32px;
  transition: background-color 80ms ease;
}

.experts__moreIcon:hover {
  fill: var(--brown);
}

.experts__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin-left: 48px;
}

.experts__about ul li:not(:last-child) {
  margin-bottom: 32px;
}

.experts__about ul li {
  position: relative;
  list-style-type: none;
}

.experts__about ul li::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 7;
  left: -13.1px;
  width: 5px;
  height: 5px;
  border-radius: 200px;
  background-color: var(--white);
}

.experts__next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 55px;
}

.experts__nextLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border-right: 1px solid var(--white);
  padding-right: 36px;
  margin-right: 31px;
  height: 90px;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

.experts__nextLink span {
  margin-right: 24px;
}

.experts__nextLink:hover .experts__nextButton {
  background-color: var(--brown);
}

.experts__nextLink:hover .experts__nextIcon {
  fill: var(--cream);
}

@media screen and (max-width: 1700px) {
  .experts__videoSide {
    width: 40%;
    margin-right: 82px;
  }
  .experts__contentSide {
    width: 60%;
  }

  .experts__subtitle {
    width: 55%;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .experts__header {
    margin-bottom: 30px;
  }

  .experts__quote {
    font-size: 42px;
  }

  .experts__duration {
    position: absolute;
    bottom: 50px;
    left: 60px;
  }

  .experts__play {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 200px;
  }

  .experts__data {
    margin-bottom: 70px;
  }

  .experts__dataLeft {
    width: 50%;
  }

  .experts__dataRight {
    width: 50%;
  }

  .experts__photo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  .experts__photo--smaller {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .experts__name {
    font-size: 16px;
  }

  .experts__position {
    font-size: 16px;
  }

  .experts__moreIcon {
    width: 26px;
    height: 26px;
  }

  .experts__about {
    font-size: 16px;
    margin-left: 52px;
  }

  .experts__about ul li:not(:last-child) {
    margin-bottom: 30px;
  }

  .experts__nextLink {
    padding-right: 40px;
    margin-right: 40px;
    height: 80px;
  }

  .experts__nextLink span {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1290px) {
.experts__videoSide {
  margin-right: 30px;
}

}

@media screen and (max-width: 1150px) {
  .experts__duration {
    width: 120px;
  }
  }

@media screen and (max-width: 960px) {
  .experts__duration {
    width: 100%;
  }

  .experts__tabletHidden {
    display: none;
  }

  .experts__desktopHidden {
    display: block;
  }

  .experts {
    margin-bottom: 100px;
  }

  .experts__row {
    flex-direction: column-reverse;
  }

  .experts__videoSide {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .experts__contentSide {
    width: 100%;
  }

  .experts__header {
    margin-bottom: 58px;
    max-width: 523px;
  }

  .experts__subtitle {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .experts__quote {
    font-size: 32px;
  }

  .experts__video {
    height: 290px;
  }

  .experts__duration {
    bottom: 30px;
    left: 30px;
  }

  .experts__durationText {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .experts__durationTime {
    font-size: 20px;
  }

  .experts__play {
    top: 50%;
    left: 50%;
    padding: 28px;
    bottom: unset;
    right: unset;
    transform: translate(-50%, -50%);
  }

  .experts__playIcon {
    width: 18px;
    height: 18px;
  }

  .experts__data {
    margin-bottom: 40px;
  }

  .experts__photo {
    width: 50px;
    height: 50px;
  }

  .experts__photo--smaller {
    margin-right: 15px;
  }

  .experts__moreIcon {
    width: 32px;
    height: 32px;
  }

  .experts__moreSubtitle {
    font-size: 14px;
  }

  .experts__about {
    font-size: 14px;
    margin-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .experts__about ul li:not(:last-child) {
    margin-bottom: 20px;
  }

  .experts__next {
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .experts__nextLink {
    padding-right: 50px;
    margin-right: 50px;
    height: 70px;
    font-size: 14px;
  }
}

@media screen and (max-width: 570px) {
  .experts__mobileHidden {
    display: none;
  }

  .experts__mobileVisible {
    display: block;
  }
  .experts {
    margin-bottom: 80px;
  }

  .experts__data {
    flex-direction: column;
  }

  .experts__videoSide {
    margin-bottom: 30px;
  }

  .experts__dataLeft,
  .experts__dataRight {
    width: 100%;
  }

  .experts__dataLeft {
    padding-right: 0;
    border: 0;
    margin-bottom: 35px;
  }

  .experts__header {
    margin-bottom: 32px;
  }

  .experts__quote {
    font-size: 28px;
  }

  .experts__video {
    height: 260px;
  }

  .experts__duration {
    bottom: 20px;
    left: 21px;
  }

  .experts__data {
    margin-bottom: 22px;
  }

  .experts__photo {
    width: 50px;
    height: 50px;
  }

  .experts__moreSubtitle {
    font-size: 14px;
  }

  .experts__about {
    font-size: 14px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .experts__more {
    margin-top: 30px;
  }

  .experts__next {
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-top: 74px;
    margin-bottom: 0;
  }

  .experts__next .experts__view {
    flex-direction: column;
    text-align: center;
    text-align: center;
  }

  .experts__next .experts__view img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .experts__nextLink {
    padding-right: 0;
    margin-right: 0;
    height: 70px;
    font-size: 14px;
    border: none;
  }

  .experts__nextLink span {
    margin-right: 15px;
  }
}
