:root {
    --white: #FFFFFF;
    --black: #161616;
    --sandal: #9D8C7C;
    --brown: #453D36;
    --white-cream: #FFFDF9;
    --cream: #F9F5E9;
    --red: #af2929;
    --general-font: "Inter", sans-serif;
    --accent-font: "Lora", sans-serif;
}