.catalogForm {
  position: relative;
  max-width: 780px;
  width: 100%;
  max-height: 595px;
  background-color: var(--white-cream);
  /*overflow-x: hidden;*/
  /*overflow-y: auto;*/
}

.catalogForm__inner {
  display: flex;
  flex-direction: column;
  padding: 103px 50px 58px 50px;
  width: 100%;
}

.catalogForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogForm__closeButton {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 30px;
  height: 30px;
}

.catalogForm__radioContainer {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  margin-bottom: 44px;
}

.catalogForm__radioButtonWrapper {
  width: 100%;
}

.catalogForm__radioButton {
  width: 25%;
  cursor: pointer;
  display: none;
}

.catalogForm__radioLabel {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  font-weight: 500;
  font-size: 16px;
}

.catalogForm__radioButtonWrapper:not(:last-child) .catalogForm__radioLabel {
  border-right: none;
}

.catalogForm__radioIcon {
  fill: #949494;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.catalogForm__radioIcon--telegram {
  background: #949494;
  fill: var(--white);
  border-radius: 50%;
}

.catalogForm__radioButton:checked + .catalogForm__radioLabel {
  background-color: var(--sandal);
  border-color: var(--sandal);
  color: var(--white);
}

.catalogForm__radioButton:checked
+ .catalogForm__radioLabel
.catalogForm__radioIcon {
  fill: var(--white);
}

.catalogForm__radioButton:checked + .catalogForm__radioLabel .catalogForm__radioIcon--telegram {
  background: var(--white);
  fill: var(--sandal);
}

.catalogForm__textInputs {
  width: 100%;
  display: grid;
  gap: 16px;
  margin-bottom: 25px;
}

.catalogForm__inputWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.catalogForm__input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-text-fill-color: var(--brown);
  box-shadow: 0 0 0px 1000px #f5f5f5 inset;
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;

  flex: 1 0 auto;

  padding: 33px 30px;
  height: 85px;
  background-color: #f5f5f5;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  color: var(--brown);

  border: 1px solid #f5f5f5;
}

.catalogForm__inputWrapper .catalogForm__input {
  border-radius: 0 3px 3px 0;
}

.catalogForm__input[data-valid="false"] {
  border-color: var(--red)
}

.catalogForm__inputWrapper .catalogForm__input[data-valid="false"] {
  border-left: 0;
}

.catalogForm__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: var(--brown);
  opacity: 0.3;
}

.catalogForm__input:focus {
  outline: none;
}

.catalogForm__checkbox {
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .catalogForm {
    max-width: 684px;
    max-height: 454px;
  }

  .catalogForm__inner {
    padding: 84px 41px 31px 41px;
  }

  .catalogForm__closeButton {
    width: 14px;
    height: 14px;
    right: 40px;
  }

  .catalogForm__radioContainer {
    margin-bottom: 26px;
  }

  .catalogForm__textInputs {
    gap: 15px;
    margin-bottom: 20px;
  }

  .catalogForm__input {
    padding: 25px 25px;
    height: 65px;
    font-size: 16px;
  }

  .catalogForm__input::placeholder {
    font-size: 16px;
  }

  .catalogForm__input:focus {
    outline: none;
  }

  .catalogForm__checkbox {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .catalogForm {
    max-height: 345px;
  }

  .catalogForm__inner {
    padding: 55px 25px 20px 25px;
  }

  .catalogForm__closeButton {
    top: 25px;
    right: 25px;
  }

  .catalogForm__radioButtonWrapper {
    width: 25%;
  }

  .catalogForm__radioContainer {
    margin-bottom: 20px;
  }

  .catalogForm__radioLabel {
    padding: 5.45px;
  }

  .catalogForm__radioIcon {
    width: 16px;
    height: 16px;
    margin-right: 0;
  }

  .catalogForm__radioText {
    display: none;
  }

  .catalogForm__textInputs {
    gap: 14px;
    margin-bottom: 21px;
  }

  .catalogForm__input {
    padding: 15px 14px;
    height: 45px;
    font-size: 14px;
  }

  .catalogForm__input::placeholder {
    font-size: 14px;
  }

  .catalogForm__checkbox {
    margin-bottom: 25px;
  }
}
