.cookie {
  position: fixed;
  left: 50%;
  bottom: 20px;
  width: 449px;
  height: 163px;
  padding: 30px;

  background-color: #fffcf7;
  color: var(--black);
  z-index: -1;
  align-items: center;
  transform: translateX(-50%) translateY(110px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 200ms ease, opacity 400ms ease, z-index 200ms ease 400ms;
}

.cookie--active {
  display: flex;
  z-index: 50;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.cookie__text {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--black);
  margin-bottom: 25px;
}

.cookie__link {
  text-decoration: underline;
  color: var(--black);
  font-weight: 500;
  transition: color 200ms ease;
}

.cookie__link:hover {
  color: var(--sandal);
}

.cookie__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1021px) {
  .cookie {
    bottom: 0;
    width: 402px;
    height: 138px;
    padding: 20px;
  }

  .cookie__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 550px) {
  .cookie {
    bottom: 0;
      width: 284px;
      height: 112px;
    padding: 20px;
  }

  .cookie__text {
    margin-bottom: 10px;
  }

  .cookie__button {
    font-size: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
}