.projectItem {
  cursor: pointer;
  max-width: 567px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .projectItem:not(:last-child) {
  margin-right: 30px;
} */

.projectItem__photo {
  width: 100%;
  margin-bottom: 27px;
}


.projectItem__photo img {
  max-width: 567px;
  height: 400px;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.projectItem__description {
  padding-bottom: 40px;
  margin-bottom: 37px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  color: var(--cream);
}

.projectItem__geo {
  display: flex;
  margin-bottom: 23px;
}

.projectItem__geoIcon {
  width: 11.67px;
  height: 16.1px;
  fill: var(--cream);
  margin-right: 12px;
}

.projectItem__geoText {
  font-size: 14px;
  text-transform: uppercase;
}

.projectItem__title {
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 13px;
  min-height: 33px;
}

.projectItem__data {
  display: none;
  margin-bottom: 24px;
}

.projectItem__dataTitle {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
}

.projectItem__cell {
  display: flex;
}

.projectItem__cell:not(:last-child) {
  margin-right: 33px;
}

.projectItem__dataNum {
  font-family: var(--accent-font);
  font-weight: 400;
  opacity: 1;
  font-size: 18px;
  letter-spacing: -0.03em;
  margin-left: 20px;
}

.projectItem__sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectItem__price {
  display: flex;
  align-items: center;
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 28px;
}

.projectItem__price::after {
  content: "$";
  font-size: 16px;
  margin-left: 10px;
}

.projectItem__market {
  display: flex;
}

.projectItem__marketIcon {
  margin-right: 10px;
  width: 15px;
  height: 24px;
  fill: var(--white);
  opacity: 0.5;
}

.projectItem__marketText {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1700px) {
  .projectItem {
    max-width: 420px;
    width: 33%;
  }

  .projectItem__photo {
    margin-bottom: 21px;
  }

  .projectItem__photo img {
    width: 420px;
    height: 260px;
  }

  .projectItem__description {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .projectItem__geo {
    margin-bottom: 21px;
  }

  .projectItem__title {
    font-size: 22px;
    margin-bottom: 17px;
  }

  .projectItem__data {
    margin-bottom: 30px;
  }

  .projectItem__dataTitle {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
  }

  .projectItem__cell {
    display: flex;
  }

  .projectItem__cell:not(:last-child) {
    margin-right: 29px;
  }

  .projectItem__sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .projectItem {
    max-width: 233px;
  }

  .projectItem__photo {
    margin-bottom: 16px;
  }

  .projectItem__photo img {
    max-width: 233px;
    height: 173px;
    width: 100%;
  }

  .projectItem__description {
    padding-bottom: 16px;
    margin-bottom: 22px;
  }

  .projectItem__geo {
    margin-bottom: 12px;
  }

  .projectItem__geoText {
    font-size: 9px;
  }

  .projectItem__geoIcon {
    width: 7.25px;
    height: 10px;
    margin-right: 9px;
  }

  .projectItem__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .projectItem__data {
    margin-bottom: 16px;
  }

  .projectItem__dataTitle {
    font-size: 14px;
  }

  .projectItem__dataNum {
    font-size: 16px;
  }

  .projectItem__cell {
    display: flex;
  }

  .projectItem__cell:not(:last-child) {
    margin-right: 33px;
  }

  .projectItem__price {
    font-size: 22px;
  }

  .projectItem__market {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .projectItem {
    max-width: 217px;
  }

  .projectItem__photo img {
    max-width: 217px;
    height: 173px;
    width: 100%;
  }

  .projectItem__description {
    padding-bottom: 22px;
    margin-bottom: 24px;
  }
  
  .projectItem__cell:not(:last-child) {
    margin-right: 30px;
  }
}
