.title {}

.title__line {
  display: inline-block;
  overflow: hidden;
  line-height: 1.4;
}

.title__lineInner {
  display: inline-block;
  transform: translateY(100%);
  /* white-space: nowrap; */
  transition: transform 500ms ease 500ms;
}

.title--shown .title__lineInner {
  transform: translateY(0);
}

/* @media screen and (max-width: 980px) {
  .title__lineInner {
    white-space: unset;
  }
} */